<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A layout example that shows off a responsive logger layout.">
    <title>ILogger</title>
    {{>import}}
    <style type="text/css">
        @media (min-width: 60em) {
		    .list {
		        width:200px;
		        margin-left: -200px;
		    }
		}
		
		@media (min-width: 40em) {

		    #layout {
		        padding-left: 350px;
		    }
		    #nav {
		        margin-left: -350px;
		    }
		  }
    </style>
    <script type="text/javascript">

    var grid;
        function grid(type) {
        	let columns = ['ID', 'Logger', 'IP','Time',  'Message', 'etc.'];
        	if (type === "output") { "src/main/resources/templates/hist.mustache"
        		columns = ['ID', 'Logger', 'IP','Time',  'Message', 'etc.'];
        	}
        	let button_tag = "<button type=\"button\" class=\"btn btn-outline-success diff-button\"" + 
        	   "data-bs-toggle=\"modal\" data-bs-target=\"#exampleModal\">Diff</button>";
        	
        	grid = new gridjs.Grid({
                columns: ['ID', 'Logger', 'IP','Time',  'Message', 'etc.'],
                pagination: {
                    enabled: true,
                    limit: 10,
                    server: {
                        url: (prev, page, limit) => `${prev}/${page+1}`
                    }
                },
                server: {
                    url: '/api/history/list/' + type,
                    then: data => data.data.list.map(hist => [
                        hist.id,
                        hist.name,
                        hist.ip,
                        moment(hist.last_modified).format("YYYY/MM/DD HH:mm:ss"),
                        hist.msg,
                        hist.etc != null? gridjs.html(button_tag): ""
                        /* gridjs.html("<pre>" + hist.etc + "<pre>") */
                    ]),
                    total: data => data.data.total_cnt
                    } 
                }).render(document.getElementById('table'));
        }
        
        $(function() {
        	grid("logger");
            
            $(document).on("click", ".logger-item", function (e) {
            	console.log($(e.currentTarget));
                $(".logger-item").removeClass("logger-item-selected logger-item-unread");
                $(e.currentTarget).addClass("logger-item-selected logger-item-unread");
                grid($(e.currentTarget).attr("name"));
            });
            
            $(document).on("click", ".diff-button", function (e) {
            	const differ = new AceDiff({
        		  ace: window.ace, // You Ace Editor instance
        		  element: '.acediff',
        		  left: {
        		    content: 'your first file content here',
        		  },
        		  right: {
        		    content: 'your second file content here',
        		  },
        		});
            });
            
        });
    </script>
</head>
<body>


<!-- History -->
<div id="layout" class="content pure-g">
    {{>nav}}
    <div class="pure-u-1">
        <div class="pure-u-1 list">
            <div class="logger-item pure-g logger-item-selected logger-item-unread" name="logger">
	            <div class="pure-u-7-8">
	                <h5 class="logger-name">Logger</h5>
	                <h6 class="logger-subject">
	                   Logger History
	                </h6>
	            </div>
	        </div>
	        <div class="logger-item pure-g" name="output">
                <div class="pure-u-7-8">
                    <h5 class="logger-name">Output</h5>
                    <h6 class="logger-subject">
                        Output History
                    </h6>
                </div>
            </div>
        
        </div>
        <div id="main" class="pure-u-1 main">
            <div class="logger-content">
                <div class="logger-content-header pure-g">
                    <div class="logger-info pure-u-1-2"></div>
                    <div class="logger-content-controls pure-u-1-2">
                        <button class="secondary-button pure-button save-button">Logger</button>
                        <button class="secondary-button pure-button remove-button">Output</button>
                    </div>
                </div>
    
                <div class="logger-content-body">
                    <div id="table"></div>
                </div>
            </div>
       </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="acediff"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="pure-button" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Script to make the Menu link work -->
<!-- Just stripped down version of the js/ui.js script for the side-menu layout -->

</body>
</html>