<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A layout example that shows off a responsive logger layout.">
    <title>ILogger</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css">
    <link rel="stylesheet" href="/css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/ace/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/moments.js" type="text/javascript" charset="utf-8"></script>
<!--     <script src="https://unpkg.com/gridjs-jquery/dist/gridjs.production.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" />
-->
    <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css">
    
    <script type="text/javascript">
    
        $(function() {
            //$("#table").Grid({
            new gridjs.Grid({
                columns: ['ID', 'IP','Time',  'Message', 'etc.'],
                pagination: {
                    enabled: true,
                    limit: 10,
                    server: {
                        url: (prev, page, limit) => `${prev}/${page+1}`
                    }
                },
                server: {
                    url: '/api/history/list/logger',
                    then: data => data.data.list.map(hist => [
                        hist.id,
                        hist.ip,
                        moment(hist.last_modified).format("YYYY/MM/DD HH:mm:ss"),
                        hist.msg,
                        gridjs.html("<pre>" + hist.etc + "<pre>")
                    ]),
                    total: data => data.data.total_cnt
                    } 
                }).render(document.getElementById('table'))
        });
            
    </script>
</head>
<body>


<!-- History -->
<div id="layout" class="content pure-g">
    {{>nav}}
    
    <div class="pure-u-1">
        <div class="pure-u-1 list" style="width:180px !important">
            <div class="logger-item pure-g logger-item-selected logger-item-unread">
	            <div class="pure-u-7-8">
	                <h5 class="logger-name">Logger</h5>
	                <h6 class="logger-subject">
	                   Logger History
	                </h6>
	            </div>
	        </div>
	        <div class="logger-item pure-g">
                <div class="pure-u-7-8">
                    <h5 class="logger-name">Output</h5>
                    <h6 class="logger-subject">
                        Output History
                    </h6>
                </div>
            </div>
        
        </div>
        <div id="main" class="pure-u-1 main">
            <div class="logger-content">
                <div class="logger-content-header pure-g">
                    <div class="logger-info pure-u-1-2"></div>
                    <div class="logger-content-controls pure-u-1-2">
                        <button class="secondary-button pure-button save-button">Logger</button>
                        <button class="secondary-button pure-button remove-button">Output</button>
                    </div>
                </div>
    
                <div class="logger-content-body">
                    <div id="table"></div>
                </div>
            </div>
       </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="pure-table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Genrated Log</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="pure-button" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<!-- Script to make the Menu link work -->
<!-- Just stripped down version of the js/ui.js script for the side-menu layout -->

</body>
</html>