<script>var CTX = "{{contextPath}}";</script>
<link rel="stylesheet" href="{{contextPath}}/css/pure-min.css">
<link rel="stylesheet" href="{{contextPath}}/css/main.css">
<link rel="stylesheet" href="{{contextPath}}/css/gridjs.mermaid.min.css">
<link rel="stylesheet" href="{{contextPath}}/css/bootstrap.min.css">
<script src="{{contextPath}}/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="{{contextPath}}/js/axios.min.js" type="text/javascript" charset="utf-8"></script>
<script src="{{contextPath}}/js/ace/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="{{contextPath}}/js/moments.js" type="text/javascript" charset="utf-8"></script>
<script src="{{contextPath}}/js/gridjs.umd.js" type="text/javascript" charset="utf-8"></script>
<script src="{{contextPath}}/js/bootstrap.bundle.min.js" type="text/javascript" charset="utf-8"></script>
<script src="{{contextPath}}/js/bootstrap-notify.min.js"></script>



<script src="{{contextPath}}/js/ace/ace-diff.js"></script>

<!-- optionally include CSS, or use your own -->
<link href="{{contextPath}}/css/ace/ace-diff.css" rel="stylesheet">

<!-- optionally there is also a dark mode CSS -->
<!--<link href="https://unpkg.com/ace-diff@^2/dist/ace-diff.min.css" rel="stylesheet">-->
