<link rel="stylesheet" href="/css/pure-min.css">
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/gridjs.mermaid.min.css">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<script src="/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/axios.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/ace/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/moments.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/gridjs.umd.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/bootstrap.bundle.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/bootstrap-notify.min.js"></script>



<script src="/js/ace/ace-diff.js"></script>

<!-- optionally include CSS, or use your own -->
<link href="/css/ace/ace-diff.css" rel="stylesheet">

<!-- optionally there is also a dark mode CSS -->
<!--<link href="https://unpkg.com/ace-diff@^2/dist/ace-diff.min.css" rel="stylesheet">-->