<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A layout example that shows off a responsive logger layout.">
    <title>ILogger</title>
    {{>import}}
    <script type="text/javascript">
        let sample_yaml = `################################
# this is a example for logger #
################################
# 
# Check out the yaml syntex here.
# https://en.wikipedia.org/wiki/YAML
#

log: EXAMPLE  # required
logtype: WEB  # required - str
raw: |
    $\{sip\} - - [$\{event_time\}] "$\{method\} $\{url\} $\{http_version\}" $\{status\} $\{event_size\}

data:         # required - this is field list
    logtype:  # this is a field name
        type: str    # type can be str, int, ip, time, url, payload, ip2loc, sparrow_id
        values:
            WEB: 1
    sip:
        type: ip
        values:
            "192.168.1.1/24": 0.1  # 0.1 is a probability of appearing = 10%
            "192.168.1.100": 0.1   # If the sum is less than 1, it is randomly generated.
            ###############################
            # ip type cans define like this
            # 1. range
            #    192.168.1.1/24
            #    192.168.1.1~192.168.1.255
            # 2. specific
            #    192.168.0.1
            ###############################
    dip:
        type: ip
        values:
            "192.168.1.1/16": 0.1
            "192.168.1.110": 0.1
            
    date:
        type: str
        values:
            "20220217": 1

    randome_value:
        type: str
        values:
            sdfsdhfouhsofsf: 0.1
            dvkjfvojhdogjdfg: 0.9
            
    event_time:
        type: time
        raw_format: dd/MMM/yyyy:HH:mm:ss Z  # time type is support only current time.
        parse_format: yyyyMMddHHmmssSSS     # you can define format of raw and parsed
        
    method:
        type: str
        values:
            GET: 0.4
            POST: 0.4
            UPDATE: 0.1
            DELETE: 0.1
            
    url:
        type: url
        values:
            "/cabletb/605/update/CBOXUpdate.xml": 0.1
    
    http_version:
        type: str
        values:
            "HTTP/1.1": 1
    
    status:
        type: int
        values:
            10-100: 0.5
            500: 0.3
            400: 0.2
            
    event_size:
        type: int
        values:
            1~10: 0.5
            8080: 0.4
    payload:
        type: payload
        values: 
            "sdfdsfsdfsdfsdfsdfsdfsdfdsfsdfsdfsdf sdfdsf \\nsdfdsfsdfsfdsfsdfdsf": 0.1
            "34rti34ti34ujt0p3uj": 0.2
`
        function addItemList(v) {
            let log = v.detail == undefined || v.detail["log"] == undefined ? "" : v.detail.log;
            let logtype = v.detail == undefined || v.detail["logtype"] == undefined ? "" : v.detail.logtype;
            let raw = v.detail == undefined || v.detail["raw"] == undefined ? "" : v.detail.raw;
            let $div = $(
                "<div logger-id=\"" + v.id + "\" class=\"menu-item pure-g " + ($(".menu-item").length == 0? "menu-item-selected menu-item-unread": "") + "\">" +
                  "   <div class=\"pure-u-1\">" +
                  "       <h5 class=\"menu-name\">" + v.name + "</h5>" + 
                  "       <h4 class=\"menu-subject\">" + log + "</h4>" +
                  "       <h6 class=\"menu-subject\">" +
                  "           EPS: " + v.eps + "\nlogtype: " + logtype +
                  "       </h6>" +
                  "       <p class=\"menu-desc\">" + raw + "</p>" +
                  "   </div>" +
                  "   <div class=\"pure-u-1-8 change-state\">" +
                  "       <div class=\"form-check form-switch\">" +
                  "           <input class=\"form-check-input checkbox-change-state\" type=\"checkbox\" role=\"switch\" " + (v.status == 1? "checked": "") + ">" +
                  "       </div>" +
                  "   </div>" +
                  "</div>")
             $div.data("logger_id", v.id)
            $(".list").append($div);
        }
    
        function loadList(){
            $(".list").empty();
            axios({
                url: '/api/loggers',
                method: 'get'
            }).then(function (response) {
                console.log(response);
                let i = 0;
                $.each(response.data.data, function(k, v) {
                    addItemList(v);
                });
            })
            .catch(function (error) {
                console.log(error);
            })
            .then(function () {
                $(".menu-item").eq(0).trigger("click");
            });
        }
        
        $(function() {
            var editor = ace.edit("editor");
            editor.session.setUseWrapMode(true);
            editor.session.setMode("ace/mode/yaml");
            editor.setTheme("ace/theme/tomorrow");
            editor.setOption("showInvisibles", true)
            editor.session.setOptions({ tabSize: 4, useSoftTabs: true });
            editor.setFontSize(15);
            loadList();
            
            $(document).on("click", ".menu-item", function (e) {
                console.log(e.target)
                if ($(e.target).hasClass("checkbox-change-state")) {
                    return;
                }
                $(".menu-item").removeClass("menu-item-selected menu-item-unread");
                $(e.currentTarget).addClass("menu-item-selected menu-item-unread");

                axios({
                    url: '/api/loggers/' + $(e.currentTarget).data("logger_id"),
                    method: 'get'
                }).then(function (response) {
                    console.log(response.data);
                    let data = response.data.data;
                    editor.setValue(data.yaml_str, -1)
                    
                    let $div = $(
                        "<h3 class=\"logger-content-title\">" +
                        "   <input type=\"text\" id=\"selected_name\" value=\"" + data.name + "\">" +
                        "</h3>" +
                        "<p class=\"logger-content-subtitle\">" +
                            "From <a>" + data.ip + "</a> at <span>" + moment(data.last_modified).format("YYYY/MM/DD HH:mm:ss") + "</span>" +
                        "</p>" +
                        "<h6 class=\"logger-content-title\">" +
                        "   EPS: <input type=\"text\" id=\"selected_eps\" value=\"" + data.eps + "\">" +
                        "</h6>" +
                        "<input type=\"hidden\" id=\"selected_id\" value=\"" + data.id + "\" />" +
                        "<input type=\"hidden\" id=\"selected_status\" value=\"" + data.status + "\" />"
                    );
                    $(".logger-info").html($div);
                    
                })
                .catch(function (error) {
                    // handle error
                    console.log(error);
                })
                .then(function () {
                    // always executed
                });
            });
            
            $(document).on("click", ".save-button", function (e) {
                let name = $("#selected_name").val();
                let id = $("#selected_id").val();
                let eps = $("#selected_eps").val();
                let yaml = editor.getValue();

                axios({
                    url: "/api/loggers",
                    method: (id < 0? "put": "patch"),
                    data: {
                        name: name,
                        id: id,
                        yaml_str: yaml,
                        eps: eps
                    }
                }).then(function (response) {
                    console.log(response.data)
                    if (response.data.status == 200) {
                        $.notify({message: response.data.msg},{type: 'success'});
                        if (response.data.data != null){
                            if (id < 0) {
                                addItemList(response.data.data)
                                $(".menu-item:last").trigger("click");
                                $(".remove-button").removeClass("d-none");
                            } else {
                                let logtype = "";
                                $.each(response.data.data.yaml_str.split("\n"), function(i, x) {
                                   if (x.startsWith("logtype:")) {
                                       logtype = x.replace("logtype:", "").trim();
                                   }
                                });

                                $(".menu-item[logger-id=" + id + "]").find("h6.menu-subject")
                                        .html("EPS: " + eps + "\nlogtype: " + logtype);
                            }
                        }
                    } else {
                        $.notify({message: response.data.msg},{type: 'danger'});
                    }
                }).catch(function (error) {
                    console.error(error);
                    $.notify({message: error},{type: 'danger'});
                }).then(function () {
                    // always executed
                });
            });
            
            $(document).on("click", ".sample-button", function (e) {
                $tbody = $(".modal .modal-body .pure-table tbody")
                $tbody.empty();
                axios({
                    url: "/api/loggers/sample",
                    method: "post",
                    data: {
                        id: -1,
                        yaml_str: editor.getValue()
                    }
                }).then(function (response) {
                    $.each(response.data.data, function(idx, val) {
                        let list = [];
                        $.each(val, function(k, v) {
                            list.push(
                            	"<span class=\"field-span\" name=\"" + k + "\">" + 
                            		"<span class=\"field-key\" name=\"" + k + "\">" + k + "=</span>" +
                            v + "</span>");
                        });
                        
                        $tbody.append(
                            "<tr class=\"" + (idx % 2 == 0? "": "pure-table-odd") + "\">" +
                            "    <td>" + (idx + 1) + "</td>" +
                            "    <td>" + list.join(", ") + "</td>" +
                            "</tr>");
                    });
                    console.log(response.data);
                }).catch(function (error) {
                    console.log(error);
                }).then(function () {
                    // always executed
                });
            });
            
            $(document).on('mouseenter',".field-span",function (e) {
                let name = $(e.currentTarget).attr("name");
                $(".field-span[name=\"" + name + "\"]").addClass("field-span-hover");
            });

            $(document).on('mouseleave',".field-span",function (e) {
                let name = $(e.currentTarget).attr("name");
                $(".field-span[name=\"" + name + "\"]").removeClass("field-span-hover");
            });
            
            $(document).on('click',".change-state .checkbox-change-state",function (e) {
                $checkbox = $(this);
                let id = $(e.target).parents(".menu-item").data("logger_id");
                let flag = $checkbox.is(":checked");
                console.log(flag)
                axios({
                    url: "/api/loggers/" + (flag? "start": "stop"),
                    method: "patch",
                    data: {
                        id: id
                    }
                }).then(function (response) {
                    console.log(response)
                    if (response.data.status == 200) {
                        $.notify({message: response.data.msg},{type: 'success'});
                    } else {
                        $.notify({message: response.data.msg},{type: 'danger'});
                    }
                }).catch(function (error) {
                    console.log(error);
                }).then(function () {
                    // always executed
                });
            });
            
            $(document).on('click',".new-button",function (e) {
                $("#selected_id").val("-1");
                $("#selected_name").val("");
                $("#selected_status").val("0");
                $(".logger-content-subtitle").empty();
                $(".remove-button").addClass("d-none");
                editor.setValue(sample_yaml, -1)
            });
            
            $(document).on('click',".remove-button",function (e) {
                let id = $("#selected_id").val();
                let flag = $(".menu-item[logger-id=" + id + "]").find(".checkbox-change-state").is(":checked");
                if (flag) {
                	$.notify({message: "Stop it first"},{type: 'danger'});
                	return;
                }
                $("#removeModal").modal("show")
                $("#removeModal").find(".modal-body").html(
                		"[ " + $("#selected_name").val() + " ] remove. " +
                		"Are you sure?");
            });
            
            $(document).on('click',".remove-ok",function (e) {
                let id = $("#selected_id").val();
                axios({
                    url: "/api/loggers",
                    method: "delete",
                    data: {
                        id: id
                    }
                }).then(function (response) {
                    console.log(response)
                    if (response.data.status == 200) {
                        $.notify({message: response.data.msg},{type: 'success'});
                        $("#selected_id").val("-1");
                        $("#selected_name").val("");
                        $("#selected_status").val("0");
                        loadList();
                    } else {
                        $.notify({message: response.data.msg},{type: 'danger'});
                    }
                }).catch(function (error) {
                    console.log(error);
                }).then(function () {
                    // always executed
                });
            });

            $(document).on('click',".import-ok",function (e) {
                let zookeeper_url = $("#zookeeper_url").val();
                let engine_id = $("#engine_id").val();
                axios({
                    url: "/api/loggers/import",
                    method: "post",
                    data: {
                        zookeeper_url: zookeeper_url,
                        engine_id: engine_id
                    }
                }).then(function (response) {
                    console.log(response)
                    if (response.data.status == 200) {
                        editor.setValue(response.data.data.yaml_str, -1);
                        $.notify({message: response.data.msg},{type: 'success'});
                        $("#importModal").modal("hide");
                    } else {
                        $.notify({message: response.data.msg},{type: 'danger'});
                    }
                }).catch(function (error) {
                    $.notify({message: error},{type: 'danger'});
                    console.log(error);
                }).then(function () {
                    // always executed
                });
            });
        });
    </script>
</head>
<body>


<!-- History -->
<div id="layout" class="content pure-g">
    {{>nav}}
    <div class="pure-u-1">
        <div class="pure-u-1 list"></div>
        <div class="pure-u-1 main">
            <div class="logger-content">
                <div class="logger-content-header pure-g">
                    <div class="logger-info pure-u-1-2"></div>
                    <div class="logger-content-controls pure-u-1-2">
                        {{#igloo}}
                        <button type="button" class="secondary-button pure-button import-button" data-bs-toggle="modal" data-bs-target="#importModal">
                            Import from Engine
                        </button>
                        {{/igloo}}
                        <button type="button" class="secondary-button pure-button sample-button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Sample
                        </button>
                        <button class="secondary-button pure-button save-button">Save</button>
                        <button class="secondary-button pure-button remove-button">Remove</button>
                    </div>
                </div>
    
                <div class="logger-content-body">
                    <div id="editor"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Sample genrated event</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="pure-table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Genrated Log</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="pure-button" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="importModal" tabindex="-1" aria-labelledby="importModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="importModalLabel">Import from Engine</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="pure-form pure-form-aligned default_info">
                    <div class="pure-control-group">
                        <label for="zookeeper_url">Zookeeper</label>
                        <input id="zookeeper_url" name="zookeeper_url" class="pure-input-1-2" type="text"
                               placeholder="prep1:2181,prep2:2181,prep3:2181"
                               value="prep1:2181,prep2:2181,prep3:2181">
                    </div>
                    <div class="pure-control-group">
                        <label for="engine_id">Engine ID</label>
                        <input id="engine_id" name="engine_id" class="pure-input-1-2" type="text"
                               placeholder="engine00345"
                               value="engine00345">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="pure-button" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="pure-button pure-button-primary import-ok">Ok</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="removeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Remove</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <input type="hidden" id="remove-id">
            <div class="modal-body">
                Are you sure?
            </div>
            <div class="modal-footer">
                <button type="button" class="pure-button" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="pure-button pure-button-primary remove-ok" data-bs-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>
<!-- Script to make the Menu link work -->
<!-- Just stripped down version of the js/ui.js script for the side-menu layout -->

</body>
</html>