<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A layout example that shows off a responsive logger layout.">
    <title>ILogger</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css">
    <link rel="stylesheet" href="/css/main.css">
    <style>
        #editor { 
            height: calc(100vh - 150px)
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/ace/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/moments.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
        
        $(function() {
            var editor = ace.edit("editor");
            editor.session.setMode("ace/mode/yaml");
            editor.setTheme("ace/theme/tomorrow");
            
            axios.get('/logger/list')
                .then(function (response) {
                    let i = 0;
                    $.each(response.data.data, function(k, v) {
                        let $div = $(
                            "<div class=\"logger-item pure-g " + (i++ == 0? "logger-item-selected logger-item-unread": "") + "\">" +
                            "   <div class=\"pure-u-3-4\">" +
                            "       <h5 class=\"logger-name\">" + v.name + "</h5>" + 
                            "       <h4 class=\"logger-subject\">" + v.logger.log + "</h4>" +
                            "       <h6 class=\"logger-subject\">" +
                            "           EPS: " + v.logger.eps + "\nlogtype: " + v.logger.logtype +
                            "       </h6>" +
                            "       <p class=\"logger-desc\">" + v.logger.raw + "</p>" +
                            "   </div>" +
                            "   <div class=\"pure-u-1-4\">" +
                            "       <div class=\"button-change-state " + (v.status == 1? "button-success": "button-error") + " pure-button button-xsmall\">" +
                            "           " + (v.status == 1? "running": "stopped") +
                            "       </div>" +
                            "   </div>" +
                            "</div>")
                       $div.data("logger", k)
                        $("#list").append($div);
                    });
                })
                .catch(function (error) {
                    console.log(error);
                })
                .then(function () {
                    $(".logger-item").eq(0).trigger("click");
                });
            
            $(document).on("click", ".logger-item", function (e) {
                $(".logger-item").removeClass("logger-item-selected logger-item-unread");
                $(e.currentTarget).addClass("logger-item-selected logger-item-unread");
                
                axios.get('/logger/get/' + $(e.currentTarget).data("logger"))
                .then(function (response) {
                	console.log(response.data);
                    let data = response.data.data;
                    editor.setValue(data.yaml_str, -1)
                    
                    let $div = $(
                        "<h1 class=\"logger-content-title\">" +
                        "   <input type=\"text\" id=\"selected_name\" value=\"" + data.name + "\">" +
                        "</h1>" +
                        "<p class=\"logger-content-subtitle\">" +
                            "From <a>" + data.ip + "</a> at <span>" + moment(data.last_modified).format("YYYY/MM/DD HH:mm:ss") + "</span>" +
                        "</p>" +
                        "<input type=\"hidden\" id=\"selected_id\" value=\"" + data.id + "\" />" +
                        "<input type=\"hidden\" id=\"selected_status\" value=\"" + data.status + "\" />"
                    );
                    $(".logger-info").html($div);
                    
                })
                .catch(function (error) {
                    // handle error
                    console.log(error);
                })
                .then(function () {
                    // always executed
                });
            });
            
            $(document).on("click", ".save-button", function (e) {
                let name = $("#selected_name").val();
                let id = $("#selected_id").val();
                let yaml = editor.getValue();
                
                axios({
                    url: "/logger/modify",
                    method: "patch",
                    data: {
                        name: name,
                        id: id,
                        yaml: yaml
                    }
                }).then(function (response) {
                    console.log(response.data);
                }).catch(function (error) {
                    console.log(error);
                }).then(function () {
                    // always executed
                });
            });
        });
    </script>
</head>
<body>


<!-- History -->
<div id="layout" class="content pure-g">
    <div id="nav" class="pure-u">
        <a href="#" id="menuLink" class="nav-menu-button">Menu</a>

        <div class="nav-inner">
            <button class="primary-button pure-button">New</button>

            <div class="pure-menu">
                <ul class="pure-menu-list">
                    <li class="pure-menu-item"><a href="#" class="pure-menu-link">Port <span class="logger-count">(2)</span></a></li>
                    <li class="pure-menu-item"><a href="#" class="pure-menu-link">Logger</a></li>
                    <li class="pure-menu-item"><a href="#" class="pure-menu-link">History</a></li>
                    <li class="pure-menu-heading">Labels</li>
                    <li class="pure-menu-item"><a href="#" class="pure-menu-link"><span class="logger-label-personal"></span>Personal</a></li>
                    <li class="pure-menu-item"><a href="#" class="pure-menu-link"><span class="logger-label-work"></span>Work</a></li>
                    <li class="pure-menu-item"><a href="#" class="pure-menu-link"><span class="logger-label-travel"></span>Travel</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div id="list" class="pure-u-1"></div>

    <div id="main" class="pure-u-1">
        <div class="logger-content">
            <div class="logger-content-header pure-g">
                <div class="logger-info pure-u-1-2">
                    
                </div>

                <div class="logger-content-controls pure-u-1-2">
                    <button class="secondary-button pure-button save-button">Save</button>
                    <button class="secondary-button pure-button remove-button">Remove</button>
                </div>
            </div>

            <div class="logger-content-body">
                <div id="editor">function foo(items) {
                    var x = "All this is syntax highlighted";
                    return x;
                }</div>
            </div>
        </div>
    </div>
</div>
<!-- Script to make the Menu link work -->
<!-- Just stripped down version of the js/ui.js script for the side-menu layout -->
<script>
    function getElements() {
        return {
            menu: document.getElementById('nav'),
            menuLink: document.getElementById('menuLink')
        };
    }

    function toggleClass(element, className) {
        var classes = element.className.split(/\s+/);
        var length = classes.length;
        var i = 0;

        for (; i < length; i++) {
            if (classes[i] === className) {
                classes.splice(i, 1);
                break;
            }
        }
        // The className is not found
        if (length === classes.length) {
            classes.push(className);
        }

        element.className = classes.join(' ');
    }

    function toggleMenu() {
        var active = 'active';
        var elements = getElements();

        toggleClass(elements.menu, active);
    }

    function handleEvent(e) {
        var elements = getElements();

        if (e.target.id === elements.menuLink.id) {
            toggleMenu();
            e.preventDefault();
        } else if (elements.menu.className.indexOf('active') !== -1) {
            toggleMenu();
        }
    }

    document.addEventListener('DOMContentLoaded', function () {
        document.addEventListener('click', handleEvent);
    });
</script>
</body>
</html>