<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A layout example that shows off a responsive logger layout.">
    <title>logger &ndash; Layout Examples &ndash; Pure</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css">
    <link rel="stylesheet" href="/css/main.css">
    <style>
        #editor { 
            height: calc(100vh - 150px)
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/ace/ace.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
	    
        $(function() {
        	var editor = ace.edit("editor");
            editor.session.setMode("ace/mode/yaml");
            editor.setTheme("ace/theme/tomorrow");
            
            axios.get('/logger/list')
                .then(function (response) {
                    let i = 0;
                    $.each(response.data.data, function(k, v) {
                        let $div = $(
                            "<div class=\"logger-item pure-g " + (i++ == 0? "logger-item-selected logger-item-unread": "") + "\">" +
                                "<div class=\"pure-u-3-4\">" +
			                        "<h5 class=\"logger-name\">" + v.name + "</h5>" +
			                        "<h4 class=\"logger-subject\">" +
			                            v.logger.log +
			                        "</h4>" +
			                        "<h6 class=\"logger-subject\">" +
			                            "EPS: " + v.logger.eps + "\nlogtype: " + v.logger.logtype +
			                        "</h6>" +
			                        "<p class=\"logger-desc\">" +
			                            v.logger.raw + 
			                        "</p>" +
			                    "</div>" +
			                "</div>")
	                   $div.data("logger", k)
                        $("#list").append($div);
                    });
                })
                .catch(function (error) {
                    // handle error
                    console.log(error);
                })
                .then(function () {
                	$(".logger-item").eq(0).trigger("click");
                });
            
            $(document).on("click", ".logger-item", function (e) {
            	$(".logger-item").removeClass("logger-item-selected logger-item-unread");
            	$(e.currentTarget).addClass("logger-item-selected logger-item-unread");
            	
            	console.log(e);
                axios.get('/logger/get/' + $(e.currentTarget).data("logger"))
                .then(function (response) {
                	let data = response.data.data;
                	editor.setValue(data.yamlStr, -1)
                	
                	let $div = 
	                	$("<h1 class=\"logger-content-title\">" + data.name + "</h1>" +
	                    "<p class=\"logger-content-subtitle\">" +
	                        "From <a>" + data.ip + "</a> at <span>3:56pm, April 3, 2021</span>" +
	                    "</p>");
                	$(".logger-info").html($div);
                	console.log(response.data);
                })
                .catch(function (error) {
                    // handle error
                    console.log(error);
                })
                .then(function () {
                    // always executed
                });
            });
        });
    </script>
</head>
<body>

<div id="layout" class="content pure-g">
    <div id="nav" class="pure-u">
        <a href="#" id="menuLink" class="nav-menu-button">Menu</a>

        <div class="nav-inner">
            <button class="primary-button pure-button">Compose</button>

            <div class="pure-menu">
                <ul class="pure-menu-list">
                    <li class="pure-menu-item"><a href="#" class="pure-menu-link">Port <span class="logger-count">(2)</span></a></li>
                    <li class="pure-menu-item"><a href="#" class="pure-menu-link">Logger</a></li>
                    <li class="pure-menu-item"><a href="#" class="pure-menu-link">Sent</a></li>
                    <li class="pure-menu-item"><a href="#" class="pure-menu-link">Drafts</a></li>
                    <li class="pure-menu-item"><a href="#" class="pure-menu-link">Trash</a></li>
                    <li class="pure-menu-heading">Labels</li>
                    <li class="pure-menu-item"><a href="#" class="pure-menu-link"><span class="logger-label-personal"></span>Personal</a></li>
                    <li class="pure-menu-item"><a href="#" class="pure-menu-link"><span class="logger-label-work"></span>Work</a></li>
                    <li class="pure-menu-item"><a href="#" class="pure-menu-link"><span class="logger-label-travel"></span>Travel</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div id="list" class="pure-u-1"></div>

    <div id="main" class="pure-u-1">
        <div class="logger-content">
            <div class="logger-content-header pure-g">
                <div class="logger-info pure-u-1-2">
                    
                </div>

                <div class="logger-content-controls pure-u-1-2">
                    <button class="secondary-button pure-button">Run</button>
                    <button class="secondary-button pure-button">Save</button>
                    <button class="secondary-button pure-button">Remove</button>
                </div>
            </div>

            <div class="logger-content-body">
                <div id="editor">function foo(items) {
                    var x = "All this is syntax highlighted";
                    return x;
                }</div>
            </div>
        </div>
    </div>
</div>
<!-- Script to make the Menu link work -->
<!-- Just stripped down version of the js/ui.js script for the side-menu layout -->
<script>
    function getElements() {
        return {
            menu: document.getElementById('nav'),
            menuLink: document.getElementById('menuLink')
        };
    }

    function toggleClass(element, className) {
        var classes = element.className.split(/\s+/);
        var length = classes.length;
        var i = 0;

        for (; i < length; i++) {
            if (classes[i] === className) {
                classes.splice(i, 1);
                break;
            }
        }
        // The className is not found
        if (length === classes.length) {
            classes.push(className);
        }

        element.className = classes.join(' ');
    }

    function toggleMenu() {
        var active = 'active';
        var elements = getElements();

        toggleClass(elements.menu, active);
    }

    function handleEvent(e) {
        var elements = getElements();

        if (e.target.id === elements.menuLink.id) {
            toggleMenu();
            e.preventDefault();
        } else if (elements.menu.className.indexOf('active') !== -1) {
            toggleMenu();
        }
    }

    document.addEventListener('DOMContentLoaded', function () {
        document.addEventListener('click', handleEvent);
    });
</script>
</body>
</html>