<div id="nav" class="pure-u">
    <a href="#" id="menuLink" class="nav-menu-button">Menu</a>
    <div class="nav-inner">
        <button class="primary-button pure-button new-button" {{#output}}data-bs-toggle="modal" data-bs-target="#new_output_modal"{{/output}}>New</button>
        <div class="pure-menu">
            <ul class="pure-menu-list">
                <li class="pure-menu-item" name="logger">   <a href="{{contextPath}}/logger" class="pure-menu-link {{#logger}}pure-menu-active{{/logger}}">Logger</a></li>
                <li class="pure-menu-item" name="hist">     <a href="{{contextPath}}/hist"   class="pure-menu-link {{#hist}}pure-menu-active{{/hist}}">History</a></li>
                <li class="pure-menu-item" name="settings"><a href="{{contextPath}}/settings" class="pure-menu-link {{#settings}}pure-menu-active{{/settings}}">Settings</a></li>
            </ul>
        </div>
    </div>
</div>