<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yuganji.generator.mybatis.mapper.HistoryMapper">

    
    <select id="totalCnt" resultType="int">
        select count(*) from history
    </select>
    
    <select id="list" parameterType="com.yuganji.generator.model.HistoryResponseVO"
    resultType="com.yuganji.generator.model.HistoryVO">
        <![CDATA[
	       select 
			    *, 
			    ( case when detail is not null
			            then
			        (select detail from history where id = (select 
			            max(id) from history where id < a.id and detail is not null and fid = a.fid) )
			            else
			                NULL
			        end) last
			        
			from history  a  order by last_modified desc limit #{limit} offset #{offset}
		 ]]>
    </select>

    <insert id="insertHistory" parameterType="map" useGeneratedKeys="true">
        insert into history (
          fid, ip, type, last_modified, msg, detail, error
        )values (
          #{fid}, #{ip}, #{type}, #{lastModified}, #{msg}, #{detail}, #{error}
        )
    </insert>
    
    <!-- <insert id="insertHistory" parameterType="com.igloosec.generator.history.HistoryVO" useGeneratedKeys="true">
        insert into history (
          fid, ip, type, last_modified, msg, detail, error
        )values (
          #{fid}, #{ip}, #{type}, #{lastModified}, #{msg}, #{detail}, #{error}
        )
    </insert> -->
</mapper>