<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yuganji.generator.mybatis.mapper.LoggerMapper">

    <select id="listLogger" parameterType="int" resultType="com.yuganji.generator.model.LoggerVO">
        SELECT * from logger
    </select>
    
    <insert id="insertLogger" parameterType="com.yuganji.generator.model.LoggerVO"
        useGeneratedKeys="true" keyProperty="id">
        insert into logger (
            name, created, last_modified, ip, yaml_str
        ) values (
            #{name}, #{created}, #{lastModified}, #{ip}, #{yamlStr}
        )
    </insert>
    
    <update id="updateLogger" parameterType="com.yuganji.generator.model.LoggerVO">
        update logger 
        set
            name = #{name},
            last_modified = #{lastModified},
            ip = #{ip},
            yaml_str = #{yamlStr}
        where
            id = #{id}
    </update>
    
    <update id="updateLoggerStatus" parameterType="map">
        update logger
        set
            status = #{status}
        where
            id = #{id}
    </update>
    
    <update id="removeLogger" parameterType="int">
        delete from logger
        where
            id = #{id}
    </update>
</mapper>